header{
	background-color: #85C33C;
	opacity:0.8;
	
	}
	
header a{
	color:white;
}

/*custom event colors*/
.event-list > li > div {
		background-color: #008abf;
	}
	
.event-list > li:nth-child(even) > div {
		background-color: #008abf;
	}

/*header .dropdown-menu li.active{
		background-color: #008abf;
	}
*/

